<footer class="container-fluid" style="position:absolute; bottom:0px; width:100%; color:#428BCA; background:#222">
  <div class="row" style="text-align:center">
    <div class="col-sm-9" style="text-align:center">
      <p>Site generously hosted using Github Pages. Everything is opensource and can be found at:</p>
      <p><a href="https://github.com/CorbinSteele/corbinsteele.github.io" target="_blank">
      https://github.com/CorbinSteele/corbinsteele.github.io</a></p>
    </div>
    <div class="col-sm-3" style="text-align:right">
      <p>Page initially posted on: {{ page.posted }}</p>
      <p>Page last updated on: {{ page.updated }}</p>
    </div>
  </div>
</footer>
