
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <a href="/"><h1>Careful Coding</h1></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav nav-justified">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#">Projects
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/projects/executables">Executables</a></li>
            <li><a href="/projects/examples">Code Examples</a></li>
            <li><a href="/projects/current">Currently in Progress</a></li>
          </ul>
        </li>
        <li><a href="/blog">Blog</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#">Author
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/author/profile">Profile</a></li>
            <li><a href="/author/contact">Contact</a></li>
            <li><a href="/author/donate">Donate</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
$(document).ready(function() {
  var $navtab = $('.dropdown-toggle');
  $navtab.on({
    mouseenter: function() {
      var $menu = $(this).siblings(":last");
      $menu.stop();
      $menu.slideDown(500);
    },
    mouseleave: function() {
      var $menu = $(this).siblings(":last");
      $menu.stop();
      $menu.slideUp(500);
    },
    click: function() {
      var $menu = $(this).siblings(":last");
      if (!$menu.is(':animated')) {
        if ($menu.is(':visible')) {
          $menu.slideUp(500);
        } else {
          $menu.slideDown(500);
        }
      }
    }
  });
  
  $('.dropdown-menu').hover(
    function() { $(this).show(); },
    function() { $(this).hide(); }
  );
});
</script>
