{% if page.references %}
  <div class="sub-container-outer">
    <h3>Suggested Links</h3>
    <div class="sub-container-inner">
      <div class="row">
        <dl>
          {% for item in page.references %}
            <div class="col-xs-12 col-md-6">
              <dt>
                {{item.description}}:
              </dt>
              <a href="{{item.link}}">
                <span class="sub-container-link"></span>
                {% if item.glyphicon %}
                  <span class="glyphicon {{item.glyphicon}}" aria-hidden="true"></span>
                {% endif %}
                <dd>
                  {{item.name}}
                </dd>
              </a>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
{% endif %}
