{% if page.references %}
  <div class="sub-container-outer">
    <h3>Suggested Links</h3>
    <div class="sub-container-inner">
      <div class="row">
        <dl>
          {% for item in page.references %}
            <div class="col-xs-12 col-md-6">
              <dt>
                {{item.description}}:
              </dt>
              <dd>
                <a href="{{item.link}}">
                  {{item.name}}
                  {% if item.glyphicon %}
                    <span class="glyphicon {{item.glyphicon}} sub-container-link" aria-hidden="true"></span>
                  {% else %}
                    <span class="sub-container-link"></span>
                  {% endif %}
                </a>
              </dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
{% endif %}
