

<div class="sub-container-outer">
  <div class="row">
    {% for container in page.containers %}
      <div class="col-md-6">
        <div class="link-container">
          <h3>{{container.name}}</h3>
          <a href="{{container.content}}">
            <span class="sub-container-link"></span>
          </a>
        </div>
        <div class="sub-container-inner">
          <div class="fixed">
            {% capture allcontent %}{% include_relative {{container.content}} %}{% endcapture %}
            {% assign subcontent = allcontent | split: '---' %}
            {{subcontent[2]}}
          </div>
          <div style="margin-bottom:{{page.subcontainerheight}}"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

