---
layout: main
container: rectangle
---

<h2>{{page.title}}</h2>
{% if site.categories.[page.category] %}
  <div class="sub-container-outer">
    {% for post in site.categories.[page.category] %}
      <div class="sub-container-inner">
        <a name="{{post.title | slugify}}" href="{{post.url}}"><span class="sub-container-link"></span></a>
        <div class="row">
          <div class="col-xs-8 col-sm-9 col-lg-10">
            <h3 style="text-align:left">{{post.title}}</h3>
          </div>
          <div class="col-xs-4 col-sm-3 col-lg-2">
            <h4 style="text-align:center"><b>Posted on</b><hr />{{post.posted}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              {{post.description}}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
      
{{content}}
