---
layout: main
container: rectangle
---

{% include project_summary.html %}

<SCRIPT src="http://java.com/js/dtjava.js"></SCRIPT>
<script>
    function launchApplication(jnlpfile) {
        dtjava.launch(            {
                url : '{{page.link}}'
            },
            {
                javafx : '2.2+'
            },
            {}
        );
        return false;
    }
</script>

<script>
    function javafxEmbed_fxApplication() {
        dtjava.embed(
            {
                id : 'fxApplication',
                url : '{{page.link}}',
                placeholder : 'appContainer',
                width : '100%',
                height : '100%'
            },
            {
                javafx : '2.2+'
            },
            {}
        );
    }
    dtjava.addOnloadCallback(javafxEmbed_fxApplication);
</script>

<div class="sub-container-outer">
  <h3>Embedded Applet</h3>
  <div class="sub-container-inner">
    <div class="row">
      <div class="col-xs-12">
        <h4 style="text-align:center">
          <b>Important: </b>
          This app is unsigned. In order to run it, you must add this website to your Java Control Panel's Exception Site List.
          Additionally, a scary warning will pop up, which ironically tells you that the app will run with restricted permissions,
          and is thus safer to run than a signed app. Sorry, Java is paranoid.
        </h4>
      </div>
      <div id="appContainer" class="col-xs-12">
      </div>
    </div>
  </div>
</div>

{% include references.html %}