---
layout: main
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Careful Coding - {{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="Corbin Steele">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
      html {height:100%;}
      body {min-height:100%; position:relative; padding-bottom:35px; background:#99EECC; font-size:20px;}
      h1 {color:#00B4B4; text-align:center;}
      footer {font-size:12px;}
      footer p {margin:0;}
    </style>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% include navbar.html %}
    <div class="container">
      {{content}}
    </div>
    
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    var $navtab = $('.nav .dropdown').not('.open');
    $navtab.hover(
       function(){ $(this).addClass('open'); $(this).find('.dropdown-menu').attr('display', 'none'); $(this).find('.dropdown-menu').slideDown(500); },
       function(){ $(this).removeClass('open'); $(this).find('.dropdown-menu').slideUp(500, function() { $navtab.removeClass('open'); }); }
)</script>
  </body>
