---
layout: main
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Careful Coding - {{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="Corbin Steele">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
      html {height:100%;}
      body {min-height:100%; position:relative; padding-bottom:40px; background:#99EECC; font-size:20px;}
      main { background:radial-gradient(white, #AAFFDD, #99EECC); }
      h1 {color:#00B4B4; text-align:center;}
      footer {font-size:12px;}
      footer p {margin:0;}
    </style>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% include navbar.html %}
    <div class="container">
      <div class="row" style="text-align:center">
        <p><small>This website is still in its earliest stages of development. Come back in a month!</small></p>
      </div>
    </div>
    <div class="container main">
      {{content}}
    </div>
    
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    var $navtab = $('.nav .dropdown');
    $navtab.hover(
       function(){ $(this).find('.dropdown-menu').stop(); $(this).find('.dropdown-menu').slideDown(500); },
       function(){ $(this).find('.dropdown-menu').stop().slideUp(500); }
)</script>
  </body>
