---
layout: main
---

<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>
  
    {% include navbar.html %}
    
    <div class="container">
      <div class="row" style="text-align:center">
        <p><small>This website is still in its earliest stages of development. Come back in a month!</small></p>
      </div>
    </div>
    <div class="container main">
      {{content}}
    </div>
    
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    var $navtab = $('.nav .dropdown');
    $navtab.hover(
       function(){ $(this).find('.dropdown-menu').stop(); $(this).find('.dropdown-menu').slideDown(500); },
       function(){ $(this).find('.dropdown-menu').stop().slideUp(500); }
       )
    </script>
  </body>
