---
layout: projects
---

<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>
  
    {% include navbar.html %}
    
    {% include development.html %}
    
    <div class="container rectangle">
      <h2>{{page.title}}</h2>
      {% for item in page.projects %}
        <div class="sub-container-outer"><a class="sub-container-inner" href="{{item.link}}">
          <div class="row">
            <h3>{{item.name}}</h3>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
              <img src="{{item.image}}" class="img-rounded center-block" alt="{{item.name}} image" 
                width="160" height="160" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
              <p>
                {{item.description}}
              </p>
            </div>
          </div>
        </a></div>
      {% endfor %}
      
      {{content}}
    </div>
    
    {% include footer.html %}
  </body>
</html>
